<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Login</title>
<link rel="stylesheet" th:href="@{/bootstrap431/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<h2>CUSTOM LOGIN PAGE</h2>
		<div th:if="${param.error != null}">
			<h2>Invalid Username or password</h2>
			<h2 th:if="${param.error}"></h2>
		</div>
		
		<div th:if="${param.logout != null}">
			<h2>You have been logged out.</h2>
		</div>
		
		<form method="post">
			<p>
				<label for="username">Username</label>
				<input type="text" id="username" name="username" value="user91" />
			</p>
			<p>
				<label for="password">Password</label>
				<input type="password" id="password" name="password" value="pwd91" />
			</p>
			<p>
				<label for="remember-me">Remember-Me</label>
				<input type="checkbox" id="remember-me" name="remember-me" />
			</p>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<button type="submit" class="btn btn-primary">Login</button>
		</form>
	</div>	
<script type="text/javascript" th:src="@{/js/vendor/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vendor/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap431/js/bootstrap.min.js}"></script>
</body>
</html>