<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{/layouts/main_template}">
<head>
	<title>Code Class</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>
	<div layout:fragment="content">
		<h2 th:text="#{codeclass.header.modify}">코드그룹수정</h2>
		
		<form id="codeClass" action="list.html" th:action="@{/codeclass/modify}" th:object="${codeClass}" method="post">
		<table>
			<tr>
				<td th:text="#{codeclass.classCode}">코드그룹코드</td>
				<td><input type="text" name="classCode" th:field="*{classCode}" /></td>
				<td><span class="error_message" th:if="${#fields.hasErrors('classCode')}" th:errors="*{classCode}">classCode의 에러 메시지</span></td>
			</tr>
			<tr>
				<td th:text="#{codeclass.className}">코드그룹명</td>
				<td><input type="text" name="className" th:field="*{className}" /></td>
				<td><span class="error_message" th:if="${#fields.hasErrors('className')}" th:errors="*{className}">className의 에러 메시지</span></td>
		</table>
		</form>
		
		<div>
			<button type="submit" id="btnModify" th:text="#{action.modify}">수정</button>
			<button type="submit" id="btnList" th:text="#{action.list}">목록</button>
		</div>
		
		<script>
			$(document).ready(function() {
				var formObj = $("#codeClass");
				
				$("#btnModify").on("click", function(){
					formObj.submit();	
				
				});
				
				$("#btnList").on("click", function(){
					self.location = "list";
				});
				
			});
				
		</script>
	</div>
</body>
</html>