<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbcho.mybatis.mapper.MemberMapper"> 

	<!-- 외부 조인을 사용하여 얻은 검색 결과에 대한 매핑을 정의한다. -->
	<resultMap type="Member" id="memberMap">
		<id property="userNo" column="user_no" />
		<result property="userNo" column="user_no" />
		<result property="userId" column="user_id" />
		<result property="userPw" column="user_pw" />
		<result property="userName" column="user_name" />
		<result property="regDate" column="reg_date" />
		<result property="updDate" column="upd_date" />
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	
	<resultMap type="MemberAuth" id="authMap">
		<result property="userNo" column="user_no" />
		<result property="auth" column="auth" />
	</resultMap>
	
	<!-- 데이터베이스 측에서 채번된 기본키를 인수로 전달한 자바빈의 프로퍼티를 통해 취득할 수 있다. -->
	<insert id="create" useGeneratedKeys="true" keyProperty="userNo">
		INSERT INTO member 
			(
			user_id,
			user_pw,
			user_name
			)
		VALUES 
			(
			#{userId},
			#{userPw},
			#{userName}
			)
	</insert>
	
	<!-- 기준 객체와 관계 객체를 작성하는데 필요한 모든 레코드를 검색하도록 외부 조인을 사용한 SQL을 정의한다. -->
	<select id="read" resultMap="memberMap">
		SELECT 
			mem.user_no,
			mem.user_id, 
			user_pw,
			user_name,
			reg_date,
			upd_date,
			auth 
		FROM member mem LEFT OUTER JOIN member_auth auth ON mem.user_no=auth.user_no 
		WHERE mem.user_no=#{userNo}  
	</select>
	
	<update id="update">
		UPDATE member 
		SET user_name=#{userName} 
		WHERE user_no=#{userNo}
	</update>
	
	<delete id="delete">
		DELETE FROM member 
		WHERE user_no=#{userNo}
	</delete>
	
	<select id="list" resultType="Member">
		SELECT user_no, 
			user_id,
			user_pw,
			user_name,
			reg_date 
		FROM 
			member 
		ORDER BY reg_date DESC
	</select>
	
	<insert id="createAuth">
		INSERT INTO member_auth 
			(
			user_no,
			auth
			)
		VALUES 
			(
			#{userNo},
			#{auth}
			)
	</insert>
	
	<delete id="deleteAuth">
		DELETE FROM member_auth 
		WHERE user_no=#{userNo} 
	</delete>
</mapper>
